<%- include('./layout/head.ejs',{Title:"AdminDepartamentos"}) %>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Administracion de <b>Departamentos</b></h2>
                        </div>
                        <div class="col-sm-7">
                            <a href="agregarDepartamento" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Agregar</span></a>						
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Departamento</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for( let departameto = 0; departameto < datosDepartamento.length; departameto++ ) { %>
                            <tr>
                                <td><%= datosDepartamento[departameto].idDepartamento%></td>
                                <td><%= datosDepartamento[departameto].nombreDepartamento%></td>
                                <td>
                                    <div class="row center">
                                        <div class="col-6">
                                            <form method="get" action="editarDepartamento/<%= datosDepartamento[departameto].idDepartamento%>">
                                                <button style="border: none; background-color: transparent;" type="submit" title="Editar" data-toggle="tooltip"><i style="color: dodgerblue;" class="material-icons">&#xE8B8;</i></button>
                                            </form>
                                        </div>
                                        <div class="col-6">
                                            <form method="post" action="eliminarDepartamento/<%= datosDepartamento[departameto].idDepartamento%>">
                                                <button style="border: none; background-color: transparent;" type="submit" title="Eliminar" data-toggle="tooltip"><i style="color: red;" class="material-icons">&#xE5C9;</i></button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
                <div>
                    <a href="/" class="btn btn-primary">Inicio</a>
                </div>
            </div>
        </div>
    </div>   
<%- include('layout/foot.ejs') %>